/src/FlashBuilder/.settings/org.eclipse.core.resources.prefs
/src/XCode/LocalNotificationLib/LocalNotificationLib.xcodeproj/project.xcworkspace/xcuserdata/juancarlos.xcuserdatad/UserInterfaceState.xcuserstate
# You can re-generate this file in XCode
/src/XCode/LocalNotificationLib/Release/libLocalNotificationLib.a
# Documentation project file
/src/DocProj.docproj