/src/FlashBuilder/.settings/org.eclipse.core.resources.prefs
/src/XCode/LocalNotificationLib/LocalNotificationLib.xcodeproj/project.xcworkspace/xcuserdata/juancarlos.xcuserdatad/UserInterfaceState.xcuserstate
# You can re-generate this file in XCode
/src/XCode/LocalNotificationLib/Release/libLocalNotificationLib.a
# Documentation project file
/src/DocProj.docproj
# sample binaries
/samples/flash/iphone_dev.p12
/samples/flash/package.bat
/samples/flash/sample.ipa
/samples/flash/sample.swf
/samples/flash/temp_xml_plist_file.xml
/samples/flash/TESTDEVIPOD.mobileprovisionsamples/flash/sample.app.dSYM
samples/flash/sample.app.dSYM
/samples/flash/TESTDEVIPOD.mobileprovision
/samples/flash/sample.app.dSYM
/src/FlashBuilder/.settings/
/src/FlashBuilder/bin/
/src/XCode/LocalNotificationLib/LocalNotificationLib.xcodeproj/xcuserdata/juancarlos.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
