<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juankpro.ane.localnotif"
    android:versionCode="1"
    android:versionName="1.0.5">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:name=".Application">
        <service android:name=".LocalNotificationIntentService" />

        <receiver android:name=".AlarmIntentService" />
        <receiver android:name=".AlarmRestoreOnBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".TextInputActionIntentService" />
        <provider
            android:name=".NotificationSoundProvider"
            android:authorities="com.juankpro.ane.localnotif.notification_sound_provider"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>