<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juankpro.ane.localnotif"
    android:versionCode="1"
    android:versionName="1.0.5">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application>
        <service android:name="com.juankpro.ane.localnotif.LocalNotificationIntentService"/>
        <service android:name="com.juankpro.ane.localnotif.util.PlayAudio"/>
        <receiver android:name="com.juankpro.ane.localnotif.AlarmIntentService" />
        <receiver android:name="com.juankpro.ane.localnotif.AlarmRestoreOnBoot" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>